div.vendingMachineBox
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    height: 100%
    justify-content: center
    button.controlPanel-btn
        width: 80%
        max-width: 200px
img.vendingMachineImg
    width: 100%
    max-width: 300px
