div.controlPanel
    width: 40%
    display: flex
    flex-direction: column
    button.MuiButton-root
        font-size: 1.7rem !important

.css-1t1j96h-MuiPaper-root-MuiDialog-paper
    max-width: 50vw !important
    width: 100%
