div.sodaCanCard
    flex-basis: 40%
    display: flex
    margin: .5rem 0
    padding: 1rem
    align-items: center
    justify-content: center
    flex-direction: column
    border-radius: 2rem
    height: 45%
    border: .05rem solid lighten(#004aac, 60%)

div.flexbox-1, div.flexbox-2
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

h1.soda-name
    font-size: 1.7rem
    text-align: center

div.soda-img-wrapper
    display: flex
    justify-content: center
img.soda-can-img
    padding: 1.5rem


div.price-stock-box
    display: flex
    padding-bottom: .5rem
    width: 100%
    justify-content: center
    h2
        padding-right: 1rem
        font-size: 1.2rem

p.soda-desc
    font-size: 1rem
    padding: .5rem
    padding-bottom: 1rem
    text-align: center

button.soda-restock-btn
    font-size: 1.2rem



    
//Responsive Styling
$tablet: 700px
$laptop: 1024px
$desktop: 1140px

@media (min-width: $tablet)
    div.sodaCanCard
        flex-direction: row
        flex-basis: 40%
        padding: 1rem
        .soda-name
            font-size: 2.5rem
        .soda-desc
            font-size: 1.2rem
        .product-details
            font-size: 1rem
    div.flexbox-1, div.flexbox-2
        padding: 0 1.5rem
        flex-basis: 50%

@media (min-width: $laptop)
    div.sodaCanCard
        flex-direction: row
        .soda-name
            font-size: 3rem
        .soda-desc
            font-size: 1.7rem
        .product-details
            font-size: 1.3rem
        
  